.accent-bg-mixin {
  color: #fff;
  background-color: #0b4da3;
}
.accent-gradient .accent-bg-mixin {
  background: #0b4da3;
  background: -webkit-linear-gradient(135deg, #0b4da3 29%, #7385a3 100%);
  background: linear-gradient(135deg, #0b4da3 29%, #7385a3 100%);
}
.solid-bg-mixin {
  background-color: rgba(0,0,0,0.04);
}
.header-color {
  color: #333333;
}
.dt-mega-parent .sidebar-content .widget .header-color {
  color: #333333;
}
#main .sidebar-content .header-color {
  color: #333333;
}
.footer .header-color {
  color: #eeeeee;
}
.color-base-transparent {
  color: #adafb3;
}
.sidebar-content .color-base-transparent {
  color: rgba(139,141,148,0.5);
}
.footer .color-base-transparent {
  color: rgba(139,141,148,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container,
.dt-team-shortcode.content-bg-on .team-container {
  background-color: rgba(0,0,0,0.04);
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.dt-team-shortcode .team-content {
  font-size: 15px;
  line-height: 27px;
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #eeeeee;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #333333;
  font:   bold 14px / 24px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dt-team-shortcode .team-author p {
  font:    16px / 28px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #0b4da3;
}
.accent-gradient .dt-team-shortcode .team-author p {
  background: -webkit-linear-gradient(left, #0b4da3 29%, #7385a3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .dt-team-shortcode .team-author p {
    color: #0b4da3;
  }
}
.dt-mega-parent .sidebar-content .widget .team-author p {
  color: #333333;
}
.sidebar-content .team-author p {
  color: #333333;
}
.footer .team-author p {
  color: #eeeeee;
}
.testimonial-vcard .text-secondary {
  color: #333333;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-secondary {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-secondary {
  color: #333333;
}
.footer .testimonial-vcard .text-secondary {
  color: #eeeeee;
}
.dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  font-size: 15px;
  line-height: 27px;
  font-weight: normal;
  color: #0b4da3;
}
.accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  background: -webkit-linear-gradient(left, #0b4da3 29%, #7385a3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
    color: #0b4da3;
  }
}
.dt-testimonials-shortcode .more-link {
  color: #0b4da3;
}
.testimonial-vcard .text-primary {
  color: #333333;
  font-size: 15px;
  line-height: 27px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-primary {
  color: #333333;
}
.footer .testimonial-vcard .text-primary {
  color: #eeeeee;
}
.testimonial-vcard .text-primary * {
  color: #333333;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary * {
  color: #333333;
}
#main .sidebar-content .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-vcard .text-primary * {
  color: #eeeeee;
}
.dt-testimonials-shortcode .testimonial-vcard .text-primary {
  font: normal  normal 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.team-author-name,
.team-author-name a {
  color: #333333;
  font: normal  normal 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
.content .team-author-name a:hover {
  color: #0b4da3;
}
.accent-gradient .content .team-author-name a:hover {
  background: -webkit-linear-gradient(left, #0b4da3 29%, #7385a3 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .content .team-author-name a:hover {
    color: #0b4da3;
  }
}
.widget .team-author-name,
.widget .team-author-name a {
  font:   bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #333333;
}
.dt-mega-parent .sidebar-content .widget .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .widget .team-author-name a {
  color: #333333;
}
#main .sidebar-content .widget .team-author-name,
#main .sidebar-content .widget .team-author-name a {
  color: #333333;
}
.footer .widget .team-author-name,
.footer .widget .team-author-name a {
  color: #eeeeee;
}
.team-author-name,
.team-author-name a {
  color: #333333;
}
.dt-mega-parent .sidebar-content .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .team-author-name a {
  color: #333333;
}
#main .sidebar-content .team-author-name,
#main .sidebar-content .team-author-name a {
  color: #333333;
}
.footer .team-author-name,
.footer .team-author-name a {
  color: #eeeeee;
}
.rsTitle {
  font:   bold 52px / 62px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.rsDesc {
  font:   bold 34px / 44px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:   bold 34px / 44px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   bold 24px / 34px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:   bold 24px / 34px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:   bold 20px / 30px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:   bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    15px / 27px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    15px / 27px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    15px / 27px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #0b4da3 !important;
}
.slider-content .owl-dot:not(.active):not(:hover),
.slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(139,141,148,0.35);
  box-shadow: inset 0 0 0 2px rgba(139,141,148,0.35);
}
.slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(139,141,148,0.35);
  box-shadow: inset 0 0 0 20px rgba(139,141,148,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):not(:hover),
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(51,51,51,0.35);
  box-shadow: inset 0 0 0 2px rgba(51,51,51,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(51,51,51,0.35);
  box-shadow: inset 0 0 0 20px rgba(51,51,51,0.35);
}
.sidebar .slider-content .owl-dot:not(.active):not(:hover),
.sidebar .slider-content .owl-dot:not(.active):hover,
.sidebar-content .slider-content .owl-dot:not(.active):not(:hover),
.sidebar-content .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(139,141,148,0.35);
  box-shadow: inset 0 0 0 2px rgba(139,141,148,0.35);
}
.sidebar .slider-content .owl-dot.active,
.sidebar-content .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(139,141,148,0.35);
  box-shadow: inset 0 0 0 20px rgba(139,141,148,0.35);
}
.footer .slider-content .owl-dot:not(.active):not(:hover),
.footer .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(139,141,148,0.35);
  box-shadow: inset 0 0 0 2px rgba(139,141,148,0.35);
}
.footer .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(139,141,148,0.35);
  box-shadow: inset 0 0 0 20px rgba(139,141,148,0.35);
}
